<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CIS183_DJSongSearch"
        tools:targetApi="31">
        <activity
            android:name=".AttendeeSongInfo"
            android:exported="false" />
        <activity
            android:name=".AttendeeInfo"
            android:exported="false" />
        <activity
            android:name=".SongSearch"
            android:exported="false" />
        <activity
            android:name=".RequestSong"
            android:exported="false" />
        <activity
            android:name=".EventConfirm"
            android:exported="false" />
        <activity
            android:name=".EventManualSearch"
            android:exported="false" />
        <activity
            android:name=".EventSearch"
            android:exported="false" />
        <activity
            android:name=".EventInfo"
            android:exported="false" />
        <activity
            android:name=".CreateEvent"
            android:exported="false" />
        <activity
            android:name=".ActiveEvent"
            android:exported="false" />
        <activity
            android:name=".DjInfo"
            android:exported="false" />
        <activity
            android:name=".SongInfo"
            android:exported="false" />
        <activity
            android:name=".CreateSong"
            android:exported="false" />
        <activity
            android:name=".EventLibrary"
            android:exported="false" />
        <activity
            android:name=".SongLibrary"
            android:exported="false" />
        <activity
            android:name=".DjHome"
            android:exported="false" />
        <activity
            android:name=".AttendeeSignUp"
            android:exported="false" />
        <activity
            android:name=".AttendeeSignIn"
            android:exported="false" />
        <activity
            android:name=".DjSignUp"
            android:exported="false" />
        <activity
            android:name=".DjSignIn"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>